* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 0;
    background-color: #2b3467;
}
p {
    margin: 0;
}
header #logo img {
    width: 70%;
}
#user_manager {
    height: 100%;
}
.avatar_user {
    width: 15%;
}
#chat_list {
    height: 85vh;
    border-right: 2px solid #f1f1f1;
    padding-right: 10px;
    position: relative;
}
.avatar {
    border-radius: 50%;
}
.result_item {
    cursor: pointer;
}
.result_item:hover {
    background-color: #f1f1f1;
}
#form_search_user {
    position: relative;
}
#result_search {
    position: absolute;
    top: 105%;
    max-height: 80vh;
    overflow-y: auto;
    display: none;
    width: 100%;
}
.messenger_group {
    height: 85vh;
    border-right: 2px solid #f1f1f1;
    padding-right: 10px;
}
#messenger_content {
    height: 94%;
    overflow-y: auto;
}
#list_chat_group {
    max-height: 75vh;
    overflow: auto;
}
#list_chat_group .room-item {
    cursor: pointer;
    transition: 0.5s;
}
#create-group{
    position: absolute;
    bottom: 10%;
    right: 40px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border: none;
    line-height: 40px;
    border-radius: 50%;
    font-size: 40px;
    background-color: #FFDE59;
    font-weight: 500;
    color: black;
}
#list_chat_group .room-item:hover {
    background-color: #0d6efd;
    color: white;
}
.messenger_chat {
    display: none;
}
#list_chossen{
    list-style: none;
}
#list_chossen .chossen-item{
    display: inline-block;
    background-color: whitesmoke;
    padding: 5px 14px;
    border-radius: 40px;
}
#list_chossen .chossen-item .btn_delete_user{
    border: none;
    width: 30px;
    height: 30px;
    background-color: gainsboro;
    border-radius: 50%;
}
.list-group-item{
    cursor: pointer;
}
.mess_sender .mess_sender_content{
    width: 50%;
    margin-left: auto;
    color: #9EB7D0;
    text-align: right;
}
.mess_sender .mess_sender_content .sender_info{
    text-align: right;
}
.sender_name{
    font-weight: 800;
    font-size: 20px;
}
.date_create{
    font-size: 12px;
}
.mess_sender .mess_sender_content .sender_text{
    background-color: #9EB7D0;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 30px;
    color: #2b3467;
    min-width: 20%;
    display: inline-block;
    text-align: left;
}
.mess_reciver .mess_reciver_content{
    width: 50%;
    margin-right: auto;
    color: #2b3467;
    text-align: left;
}
.mess_reciver .mess_reciver_content .sender_info{
    text-align: left;
}
.mess_reciver .mess_reciver_content .reciver_text{
    background-color: #2b3467;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 30px;
    color: white;
    min-width: 20%;
    display: inline-block;
    text-align: left;
}

.mess_nofi .reciver_text{
    text-align: center;
    font-weight: 700;
    color: #9EB7D0;
}

#group_leave{
    font-weight: 700;
    color: #2b3467;
}